{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary %}
    <div class="primary col-sm-9 col-xs-12">
        {% block primary_content %}
            <div class="module-content">
                {% if self.page_primary_action() | trim %}
                  <div class="page_primary_action">
                    {% block page_primary_action %}{% endblock %}
                  </div>
                {% endif %}

                {% block primary_content_inner %}

                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block secondary %}
    <aside class="secondary col-sm-3">
        {% block secondary_content %}
            <div class="module module-narrow module-shallow">
                <h2 class="module-heading">
                    <i class="fa fa-info-circle"></i>
                    {{ _('Home page sections') }}
                </h2>

                <div class="module-content">
                    {% block vic_info_content %}

                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </aside>
{% endblock %}

{% block scripts %}
    {% asset "vic_home/js-global" %}

    {{ super() }}
{% endblock %}
