{#

extra variables:
- user_name: the name of the user
- site_title: site title
- site_url: site url
- login_url: url to login

#}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>New account approved</title>
</head>

<body>
    <p>Hi {{ user_name }},</p>

    <p>Your request for access to the {{ site_title }} has been approved, and you can now login at {{ login_url }}.</p>

    <p>Thank you.</p>

    <p>The Data.Vic Team</p>
    --

    <p>Message sent by the {{ site_title }} ({{ site_url }})</p>
</body>

</html>
