{#

extra variables:
- username: the name of the user
- link: link to a member manage page
- org_name: title of the organisation
- requester: the name of the requester
- role: the role requested

#}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Request for {{ role }} access - {{ org_name | safe }}</title>
</head>

<body>
    <p>Dear {{ username }},</p>

    <p>I am requesting {{ role }} access for {{ org_name | safe }} in the VPS Data Directory.</p>

    <p>If you approve, please assign the {{ role }} role to my profile at: {{ link }}</p>

    <p>Kind regards,</p>
    <p>{{ requester }}</p>
</body>

</html>
