{#

extra variables:
- username: the name of the user
- org_url: url to an organisation
- org_name: title of the organisation
- reason: rejection reason

#}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Access request has been denied</title>
</head>

<body>
    <p>Hi <b>{{ username }}</b>,</p>

    <p>Your request to join <a href="{{ org_url }}">{{ org_name | safe }}</a> has been rejected.</p>

    <p>Please see the reason below:</p>

    <p>{{ reason | safe }}</p>

    <p>Please contact <a href="mailto:datavic@dpc.vic.gov.au">datavic@dpc.vic.gov.au</a> if you wish to challenge the decision.</p>

    <p>Regards,</p>
    <p>Data.Vic Team</p>
</body>

</html>
