{% extends "admin/base.html" %}

{% block primary_content_inner %}
  {% set truncate = truncate or 180 %}
  {% set truncate_title = truncate_title or 80 %}
  <ul class="user-list">
    {% for pkg in data.package %}
      {% set title = pkg.title or pkg.name %}
      <li>
        {{ h.link_to(title|truncate(truncate_title), h.url_for('dataset.read', id=pkg.name)) }}
        <br />
        <small><strong>Owner org ID:</strong> {{ pkg.owner_org }}</small>
        <a class="btn btn-danger" href="/dataset/purge/{{ pkg.id }}">Purge dataset</a>
        <hr />
      </li>
    {% else %}
        <li>
            <em>{{ _('No datasets in trash') }}</em>
        </li>
    {% endfor %}

  </ul>

  <form method="POST" action="{{ h.url_for('datavic_dataset.purge_deleted_datasets') }}">
    {{ h.csrf_input() }}

    <button class="btn btn-danger purge-all"
        type="submit"
        data-module="confirm-action"
        data-module-with-data=true
        data-module-content="{{ _('Are you sure you want to purge all datasets?') }}">
        {{ _('Purge all') }}
    </button>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Trash') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Purge deleted datasets forever and irreversibly.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
