{% extends "admin/base.html" %}

{% block primary_content_inner %}
  {% for ent_type, entities in data.items() %}
    {% if ent_type == 'package' %}
      <div class="accordion" id="accordion-package">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-package">
            <button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#package" aria-expanded="true" aria-controls="package">
              <i class='fa fa-sitemap p-2'></i>
                {{ _('Deleted datasets') }}
            </button>
          </h2>
          <div id="package" class="accordion-collapse collapse show p-2" aria-labelledby="heading-package" data-bs-parent="#accordion-package">
            {% set truncate = truncate or 180 %}
            {% set truncate_title = truncate_title or 80 %}
            <ul class="user-list">
              {% for pkg in data.package %}
                {% set title = pkg.title or pkg.name %}
                <li>
                  {{ h.link_to(title|truncate(truncate_title), h.url_for('dataset.read', id=pkg.name)) }}
                  <br />
                  <small><strong>Owner org ID:</strong> {{ pkg.owner_org }}</small>
                  <a class="btn btn-danger" href="/dataset/purge/{{ pkg.id }}">{{ _('Purge dataset') }}</a>
                  <hr />
                </li>
              {% else %}
                <li>
                    <em>{{ _(messages.empty[ent_type]) }}</em>
                </li>
              {% endfor %}
            </ul>

            <form method="POST" action="{{ h.url_for('datavic_dataset.purge_deleted_datasets') }}" class="d-flex justify-content-end">
              {{ h.csrf_input() }}
              <button class="btn btn-danger purge-all"
                  type="submit"
                  data-module="confirm-action"
                  data-module-with-data=true
                  data-module-content="{{ _('Are you sure you want to purge all datasets?') }}">
                  {{ _('Purge all') }}
              </button>
            </form>
          </div>
        </div>
      </div>
    {% else %}
      {% snippet "admin/snippets/data_type.html", ent_type=ent_type, entities=entities, messages=messages %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Trash') }}
    </h2>
    <div class="module-content">
      {% trans %}
        Purge deleted datasets, organizations or groups forever and irreversibly.
      {% endtrans %}
    </div>
  </div>
{% endblock %}
