{% import 'macros/form.html' as form %}

{% if data.id %}
    {% set has_restricted_parent = h.datavic_org_has_restricted_parents(data.id) %}
{% endif %}

{% set options=[] %}
{% set attrs = dict({"class": "form-control"}, **(field.get('form_attrs', {}))) %}

{% if g.view == "edit" or has_restricted_parent %}
    {% do attrs.update({"disabled": 1}) %}
{% endif %}

{% for c in h.scheming_field_choices(field) %}
    {% if not form_restrict_choices_to or c.value in form_restrict_choices_to %}
        {% do options.append({
            'value': c.value|string,
            'text': h.scheming_language_text(c.label)
        }) %}
    {% endif %}
{% endfor %}

{% set option_selected = data[field.field_name]|string if data[field.field_name] else None %}

{% if has_restricted_parent %}
    {% set option_selected = "restricted" %}
{% endif %}

<div class="d-flex">
    {% call form.select(
        field.field_name,
        id='field-' + field.field_name,
        label=h.scheming_language_text(field.label),
        options=options,
        selected=option_selected,
        error=errors[field.field_name],
        classes=field.classes if 'classes' in field else ['control-medium'],
        attrs=attrs,
        is_required=h.scheming_field_required(field)
        )
    %}
        {% snippet 'scheming/form_snippets/help_text.html', field=field %}

        <div class="info-block">
            <i class="fa fa-info-circle"></i>
            {{ _('The restriction will also be applied to all child organisations, if they exist.') }}
        </div>

        <div class="info-block restricted-parent">
            <i class="fa fa-info-circle"></i>
            {{ _('Only restricted option is available for an organisation with a restricted parent.') }}
        </div>

        <div class="info-block restricted-option">
            <i class="fa fa-info-circle"></i>
            {{ _('This organisation, and its datasets, are restricted because its parent organisation is restricted.') }}
        </div>

        {% if has_restricted_parent %}
            <div class="info-block">
                <i class="fa fa-warning"></i>
                {{ _('Restrictions cannot be removed because the parent organization has the restriction applied') }}
            </div>
        {% endif %}
    {% endcall %}
</div>
