{#

extra variables:
- username: the name of the user
- fullname: the full name of the user
- role: pending role in organisation
- org_url: url to an organisation
- org_name: title of the organisation

#}

{% extends "mailcraft/emails/base.html" %}

{% block main_text %}
    <p>Hi <b>{{ fullname or username }}</b>,</p>

    <p>Your request to become a{% if role != "member" %}n{% endif %} {{ role | title }} of <a href="{{ org_url }}">{{ org_name | safe }}</a> has been approved.</p>

    <p>Regards,</p>
    <p>Data.Vic Team</p>
{% endblock %}
