{#

extra variables:
- username: the name of the admin user
- admin_fullname: the full name of the admin user
- requester: the name of the requester
- requester_fullname: the full name of the requester
- role: the pending role in the organisation
- org_name: the title of the organisation
- link: the link to the request page on the protal

#}

{% extends "mailcraft/emails/base.html" %}
{% block main_text %}
    {% set requester_name = requester_fullname or requester %}
    {% trans %}
        <p>Hi {{ username }}</p>
        <p>{{ requester_name }} has requested {{ role }} access to {{ org_name }}.</p>
        <p><a href="{{ link }}">Approve or deny this request</a>.</p>
    {% endtrans %}
{% endblock %}
